@import '@/styles/mixins.scss';

.poster{
    width: 72.5%;
    @include center;
    flex-direction: column;
    margin-inline: auto;
    position: relative;
    box-shadow: 0rem .2rem 10rem .2rem #808080;
    max-width: 120rem;

    &--img{
        width: 100%;
        max-height: 50rem;
        object-fit: cover;
    }

    &--content{
        position: absolute;
        bottom: 3rem;
        left: 3rem;
        color: white;
        display: flex;
        flex-direction: column;
        gap: 1.3rem;

        &-date{
            font-size: 1.3rem;
        }

        &-title{
            font-size: 3.2rem;
            font-weight: 600;
        }

        &-subtitle{
            font-size: 1.6rem;
        }

        &-tags{
            @include center;
            justify-content: flex-start;
            gap: 1rem;
            list-style-type: none;

            .tag{
                border: .1rem solid white;
                border-radius: .8rem;
                padding: .3rem 1rem;
                backdrop-filter: blur(.8rem);
                cursor: pointer;
            }
        }
    }
}